body {
  background-color: #c5d4f0;
  margin: 1%;
}

.title {
  text-align: center;
  color: #3e5f9c;
}

.subtitle {
  display: inline-block;
  margin: 1.5%;
}

.button {
  border: none;
  border-radius: 0.25rem;
  margin: 2px;
  padding: 10px;
  color: #fff;
}

.button--success {
  background-color: #28a745;
}
.button--success:hover {
  background-color: #218838;
}

.button--danger {
  background-color: #dc3545;
}
.button--danger:hover {
  background-color: #c82333;
}

.button--info {
  background-color: #007bff;
}
.button--info:hover {
  background-color: #0069d9;
}

/* Table */
table {
  border-collapse: collapse;
}

thead {
  background-color: #789de2;
}

td,
th {
  border-bottom: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #b4cbf5;
}

.button__edit {
  width: 25px;
  height: 25px;
  background: url("../icons/edit.svg");
  background-size: 25px 25px;
}

.button__edit:hover {
  transform: scale(1.2);
}

/* Responsive styles */
@media only screen and (max-width: 760px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    position: relative;
    padding-left: 35%;
  }

  td:before {
    position: absolute;
    left: 1%;
    font-weight: bold;
  }

  #booksList td:nth-of-type(1):before {
    content: "Author";
  }
  #booksList td:nth-of-type(2):before {
    content: "Title";
  }
  #booksList td:nth-of-type(3):before {
    content: "Year";
  }
  #booksList td:nth-of-type(4):before {
    content: "Publisher";
  }
  #booksList td:nth-of-type(5):before {
    content: "Summary";
  }
}
